$breakpoint-to-ems: true;
$breakpoint-no-queries: false;
$breakpoint-no-query-wrappers: true;
$breakpoint-mq-wrapper: false !default;

$break-handheld: max-width ($break-small - 1) !default;
$break-handheld-landscape: $break-small ($break-medium - 1) !default;
$break-handheld-all: max-width ($break-medium - 1) !default;
$break-tablet: $break-medium ($break-large - 1) !default;
$break-tablet-landscape: $break-large ($break-wide - 1) !default;
$break-tablet-all: $break-medium ($break-wide - 1) !default;
$break-desktop: min-width $break-wide !default;

@mixin breakpoint-at(
    $breakpoint,
    $media: $breakpoint-default-media,
    $no-query: false,
    $base-font-size: $breakpoint-base-font-size,
    $mq-wrapper: $breakpoint-mq-wrapper) {
  @include breakpoint(
    $breakpoint,
    $media: $breakpoint-default-media,
    $no-query: false,
    $base-font-size: $breakpoint-base-font-size) {
    @if $breakpoint-mq-wrapper {
      .#{$breakpoint-mq-wrapper} & {
        @content
      }
    } @else {
      @content
    }
  }
}
