/* ================================================== Wireframes ================================================== */
/* Wireframes */
/* line 22, ../../sass/layout/layout-debug-wireframes.scss */
.with-wireframes .user-columns-wrapper, .with-wireframes .branding-wrapper, .with-wireframes .header-columns-wrapper, .with-wireframes .navigation-columns-wrapper, .with-wireframes .feature-wrapper, .with-wireframes .preface-wrapper, .with-wireframes .content-wrapper, .with-wireframes .postscript-wrapper, .with-wireframes .footer-columns-wrapper, .with-wireframes .footer-wrapper { outline: 1px solid #ddd; }
/* line 35, ../../sass/layout/layout-debug-wireframes.scss */
.with-wireframes .user-inner, .with-wireframes .header-inner, .with-wireframes .branding-inner, .with-wireframes .main-menu-inner, .with-wireframes .navigation-inner, .with-wireframes .preface-inner, .with-wireframes .feature-inner, .with-wireframes .content-inner, .with-wireframes .postscript-inner, .with-wireframes .sidebar-inner, .with-wireframes .footer-inner { outline: 1px solid #666; }
/* line 38, ../../sass/layout/layout-debug-wireframes.scss */
.with-wireframes .g-all-row { outline: 1px solid #ccc; }
/* line 41, ../../sass/layout/layout-debug-wireframes.scss */
.with-wireframes .block { outline: 1px solid #aaa; }
