/*
 * ==================================================
 * Code
 * ==================================================
 */

// Preformatted text and code
pre, code, samp, kbd {
  @include adjust-font-size-to($font-size-sm,1);
  font-family: $mono-font-family;
}

pre mark{
  background:none;
  border-bottom:1px solid;
  color:inherit;
}
