/* Override system.base.css to adjust throbber position */

html.js input.form-autocomplete {
    background-position: 100% 6px;
}

html.js input.throbbing {
    background-position: 100% -13px;
}

/**
 * Autocomplete.
 *
 * @see autocomplete.js
 */

#autocomplete .selected { /* Suggestion list */
  background: #0072b9;
  color: #fff;
}

/* Overlay */

.overlay #header,
.overlay #navigation {
  display: none;
}

/**
 * Collapsible fieldsets.
 *
 * @see collapse.js
 */

.fieldset-legend {
  html.js .collapsible & {
    background-image: inline-image("menu-expanded.png");
    @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
      *background-image: url(../images/menu-expanded.png);
    }
    background-position: 5px 65%; /* LTR */
    background-repeat: no-repeat;
    padding-left: 15px; /* LTR */
  }
  html.js .collapsed & {
    background-image: inline-image("menu-collapsed.png"); /* LTR */
    @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
      *background-image: url(../images/menu-collapsed.png); /* LTR */
    }
    background-position: 5px 50%; /* LTR */
  }

  .summary {
    color: #999;
    font-size: 0.9em;
    margin-left: 0.5em;
  }
}

// Define consistent border, margin, and padding

fieldset {
  border-color: $text-border-alt;
  margin-left: 2px;
  margin-right: 2px;
  // Apply borders and padding that keep the vertical rhythm.
  @include rhythm-borders(1px, 0.65);
}

.form-type-textfield,
.form-type-date,
.form-type-select,
.form-type-file,
.form-type-managed-file,
.form-type-password,
.form-item,
.form-actions,
.vertical-tabs .fieldset-description,
.form-item .password-strength,
.form-item,
.form-actions,
.filter-wrapper {
  @include trailer(1);
}

// system.theme.css override
.container-inline .form-actions,
.container-inline.form-actions,
.container-inline .form-type-select,
#edit-basic.container-inline,
.form-checkboxes .form-item,
.form-radios .form-item,
input.password-confirm,
input.password-field {
  margin-top: 0;
  @include trailer(0);
}

div.form-item div.password-suggestions {
  @include rhythm(2);
}

.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: $typographic-indent;
}

.form-item .password-strength {
  float: none;
  width: 17em;
}

tr.odd .form-item,
tr.even .form-item {
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
}

/* Drupal form overrides */

form > div {
  @include border-radius(3px);
}

.form-item {
  .description {
    color: adjust-color($text-color, $lightness: 30);
  }
}

.marker,
.form-required {
  color: #f00;
}

.form-item .description {
  font-size: 0.85em;
}

/* Login form */

#user-login-form .item-list ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

/* Responsive forms */

// Make advanced search form inline for any browser size
#search-form .form-item {
  label.label-edit-keys { display: block; }
  #edit-keys { width: 70%; }
}

.form-select,
.form-textarea,
.form-text,
.password,
.email {
  max-width: 100%;
}
