.sass-cache
Gemfile.lock
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

examples/stylesheets/
examples/.sass-cache/
examples/.sass-cache
examples/.DS_Store
examples/sass/.DS_Store
lib/.DS_Store
lib/templates/project/.DS_Store
lib/stylesheets/.DS_Store
.DS_Store
