/*
 * Blocks
 */

//
// Local mixins are documented here, the rest are Compass mixins.
// Look here for the Compass mixin docs http://compass-style.org/index/mixins/
//

@import "compass/css3/box-shadow";

.block {
  @include margin-trailer(1, $base-font-size);
}

#feature {
  @include margin-trailer(0.6, $base-font-size);
}

#content .content-block {
  @include margin-trailer(1);
}

#footer .footer-inner {
  @include margin-leader(1);
}

.region-branding {
    background-color: $dark-grey;
}

$bright: #CCC;
$dulled: #AAA;

$selected-menu: $bright;
$unselected-menu: $dulled;

.user {
    font-size: $font-size-sm;
}

#block-locale-language {
  float: right;
  margin-bottom: 0;
  padding-bottom: 0;
  ul {
    margin: 0.4em;
    padding: 0;
    @include inline-list;
  }
  ul li {
      padding-left: 0.5em;
  }
  li a{
    color: $unselected-menu;
    text-decoration: none;
  }
  a.language-link.session-active {
    color: $selected-menu;
    text-decoration: underline;
  }
  a:hover {
      text-decoration: underline;
  }
  li:after {
      color: $unselected-menu;
  }

}

// User menu should contain "manage pubs", "my account", and "logout".
// Set it to appear in User Second block (right, top) AFTER Search.
// And be visible only to logged in users.
#block-system-user-menu {
//  float: right;
  margin-bottom: 0;
  margin-right: 10px;
  ul {
    @include horizontal-list-container;
    margin: 0.4em;
    list-style-type: none;
    li {
      @include horizontal-list-item(1em, left);
      a {
        color: $dulled;
	
      }
    }
  }
}

// Main Menu contains only the CEC home link.
// Set it in User First block (right, left)
// Viewable to all users.

#block-system-main-menu {
  float: left;
  padding-left: 150px;
  margin-bottom: 0;
  ul {
    @include horizontal-list-container;
    //margin: 0.4em;
    list-style-type: none;
    li {
      @include horizontal-list-item(1em, left);
      a {
        color: $dulled;
	
      }
    }
  }
}


#block-islandora_solr-simple{
  color: black;
  margin: 0;
  form {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
  }
  
#edit-islandora-simple-search-query {
    width: 60%;
  }
  a {
    padding-left: 1em;
  }
}

#block-custom_solr_config-keyword_facets, 
#block-custom_solr_config-keyword_facets_fr, 
#block-custom_solr_config-keyword_facets_es {
    margin-bottom: 0;
    ul {
        li {
            border: 0 0 -3px 0;
            border-bottom-style: solid;
            display: inline-block;
            padding: 0;
            //height: 28px;
        }
        a {
            color: #EEE;
            padding: 5px 17px 6px;
            font-weight: 300;
            letter-spacing: 0.1em;
            display: inline-block;

        }
        a:hover {
            text-decoration: none;
        }
        *.keyword-0{
            border-bottom-color: $climatechange;
            a:hover {
                background-color: $climatechange;
                color: #333;
            }
        }
        *.keyword-1{
            border-bottom-color: $pollutants;
            a:hover {
                background-color: $pollutants;
                color: #333;
            }
        }
        *.keyword-2{
            border-bottom-color: $ecosystems;
            a:hover {
                background-color: $ecosystems;
                color: #333;
            }
        }
        *.keyword-3{
            border-bottom-color: $economy;
            a:hover {
                background-color: $economy;
                color: #333;
            }
        }
        *.keyword-4{
            border-bottom-color: $enforcement;
            a:hover {
                background-color: $enforcement;
                color: #333;
            }
        }
    }
}

.adf {
    background-color: #F5F5F5;
    h2 {
        background-color: #ECECEC;
        margin-top: 8px;
        margin-bottom: 5px;
        padding: 5px 0 3px 5px;
        color: #3E97B5;
        border-top: solid 1px #3e97b5;
    }
    ul {
        list-style-type: none;
        li {
            a {
                color: black;
                font-weight: normal;
            }
            a:hover {
                color: #3e97b5;
            }
            padding: 5px 10px;;
            border-bottom: dotted 1px #3e97b5;
        }
    }

}

.user-columns-wrapper {
    background-color: #333;
}

.navigation-inner {
    margin-bottom: 0;
    margin-top: -20px;
}

.navigation-inner-wrapper {
    background-color: $dark-grey;
    @include margin-trailer(1, $base-font-size);
}



//#block-islandora_solr-simple {
//    margin: 7px 0;
//}
#islandora-solr-simple-search-form {
    display: inline;
    margin: 0;
    padding: 0;
}


// Islandora Facets

#block-islandora_solr-basic_facets, 
#block-islandora_solr-current_query, 
#block-islandora_solr-sort, 
#block-custom_solr_config-series_links, 
#block-custom_solr_config-external_links {
    //@include box-shadow(#333 2px 2px 5px);
    background-color: $background-grey;
    .block-title, .content { 
        padding: $borderwidth/2 $borderwidth;
    }
    .block-title {
        background-color: adjust-color($background-grey, $lightness: -10);
        margin: 0;
        color: #333;
        font-size: $font-size-normal;
        font-weight: 500;
    }
    h3 {
        margin: 0;
        font-size: $font-size-normal;
        color: #333;
        font-weight: normal;
    }
    font-size: $font-size-normal;
    ul {
        margin-top: 0;
        margin-bottom: 0;
        //margin-left: $typographic-indent;
        padding: 0 0 0 1em;
        list-style-type: none;
    }
    li {
        line-height: 1 * $base-font-size;
        a {
        color: #333;
        }
        a:hover {
        color: $ecosystems;
        text-decoration: none;
        }
        margin-bottom: 0.5 * $base-font-size;
    }
    a {
        font-weight: normal;
    }
    .item-list ul li {
        //margin: 0;
        padding: 0;
    }
    .plusminus {
        display: none;
    }
    a.soft-limit {
        padding-left: 1em; // to match ul above
    }
}

#block-islandora_solr-current_query {
    h3 {
        margin: 0;
    }
}


.islandora-solr-search-result {
    color: $text-color;
    .type {
        font-style: italic;
        color: $text-color-light;
        font-size: $font-size-md;
    }
    .subTitle {
        font-style: italic;
    }
    .date, .author, .filesize, .language, .filetype {
        display: inline-block;
    }
    .date:after {
        content: ' | ';
        color: $text-color-light;
        //display: inline;
    }
    .author {
        display: inline;
    }
    .author:after{
        white-space: pre;
        content: "\A";
    }

    .type-icon {
        margin: 0 $base-font-size -2px $base-font-size;
    }
}


// ISLANDORA OBJECT DISPLAY _ MOVE AWAY

.islandora-multilingual-content {
   // @include single-box-shadow(#333, 1px, 1px, 5px);
}
