/*
 * Blocks
 */

//
// Local mixins are documented here, the rest are Compass mixins.
// Look here for the Compass mixin docs http://compass-style.org/index/mixins/
//

.block {
  @include margin-trailer(1, $base-font-size);
}

#feature {
  @include margin-trailer(0.6, $base-font-size);
}

#content .content-block {
  @include margin-trailer(1);
}

#footer .footer-inner {
  @include margin-leader(1);
}

$bright: #CCC;
$dulled: #AAA;

$selected-menu: $bright;
$unselected-menu: $dulled;

.user {
    font-size: $font-size-sm;
}

#block-locale-language {
  float: right;
  margin-bottom: 0;
  padding-bottom: 0;
  ul {
    margin: 0.4em;
    padding: 0;
    //list-style-type: none;
    @include delimited-list(' |');
  }
  li a{
    color: $unselected-menu;
  }
  a.language-link.session-active {
    color: $selected-menu;
  }
  li:after {
      color: $unselected-menu;
  }

}

// User menu should contain "manage pubs", "my account", and "logout".
// Set it to appear in User Second block (right, top) AFTER Search.
// And be visible only to logged in users.
#block-system-user-menu {
//  float: right;
  margin-bottom: 0;
  margin-right: 10px;
  ul {
    @include horizontal-list-container;
    margin: 0.4em;
    list-style-type: none;
    li {
      @include horizontal-list-item(1em, left);
      a {
        color: $dulled;
	
      }
    }
  }
}

// Main Menu contains only the CEC home link.
// Set it in User First block (right, left)
// Viewable to all users.

#block-system-main-menu {
  float: left;
  margin-bottom: 0;
  ul {
    @include horizontal-list-container;
    //margin: 0.4em;
    list-style-type: none;
    li {
      @include horizontal-list-item(1em, left);
      a {
        color: $dulled;
	
      }
    }
  }
}



#block-islandora_solr-simple{
  color: black;
  margin: 0;
  form {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
  }
  
  #edit-islandora-simple-search-query {
    width: 60%;
  }
  a {
    padding-left: 1em;
  }
}

#block-custom_solr_config-keyword_facets {
    margin-bottom: 0;
    ul {
        li {
            border: 0 0 3px 0;
            border-bottom-style: solid;
            display: inline-block;
            padding: 0;
            height: 28px;
        }
        a {
            color: #DDD;
            padding: 8px 17px 8px;
            font-weight: 200;
            //display: inline-block;

        }
        a:hover {
            text-decoration: none;
        }
        *.keyword-0{
            border-bottom-color: $climatechange;
            a:hover {
                color: $climatechange;
            }
        }
        *.keyword-1{
            border-bottom-color: $pollutants;
            a:hover {
                color: $pollutants;
            }
        }
        *.keyword-2{
            border-bottom-color: $ecosystems;
            a:hover {
                color: $ecosystems;
            }
        }
        *.keyword-3{
            border-bottom-color: $economy;
            a:hover {
                color: $economy;
            }
        }
        *.keyword-4{
            border-bottom-color: $enforcement;
            a:hover {
                color: $enforcement;
            }
        }
    }
}

#block-custom_solr_config-series_links, #block-custom_solr_config-external_links {
    background-color: #F5F5F5;
    h2 {
        background-color: #ECECEC;
        margin-top: 8px;
        margin-bottom: 5px;
        padding: 5px 0 3px 5px;
        color: #3E97B5;
        border-top: solid 1px #3e97b5;
    }
    ul {
        list-style-type: none;
        li {
            a {
                color: black;
                font-weight: normal;
            }
            a:hover {
                color: #3e97b5;
            }
            padding: 5px 10px;;
            border-bottom: dotted 1px #3e97b5;
        }
    }

}

.user-columns-wrapper {
    background-color: #333;
}

.navigation-inner {
    margin-bottom: 0;
}

.navigation-inner-wrapper {
    background-color: #333;
    @include margin-trailer(1, $base-font-size);
}



//#block-islandora_solr-simple {
//    margin: 7px 0;
//}
#islandora-solr-simple-search-form {
    display: inline;
    margin: 0;
    padding: 0;
}


#block-system-main-menu {
    margin: 0;
    padding: 0;
    float: left;
}
