/*
 * Blocks
 */

//
// Local mixins are documented here, the rest are Compass mixins.
// Look here for the Compass mixin docs http://compass-style.org/index/mixins/
//

@import "compass/css3/box-shadow";

.block {
  @include margin-trailer(1, $base-font-size);
}

#feature {
  @include margin-trailer(0.6, $base-font-size);
}

#content .content-block {
  @include margin-trailer(1);
}


#footer .footer-inner {
  @include margin-leader(1);
}

.region-branding {
    //background-color: $dark-grey;
}

.branding-wrapper {
    background-color: $gbgreen;
}

$bright: #CCC;
$dulled: #AAA;

$selected-menu: $bright;
$unselected-menu: $dulled;

.user {
    font-size: $font-size-sm;
}

#block-locale-language, #block-system-user-menu, #block-system-main-menu, #block-menu-menu-bonus-menu {
    float: left;
    margin-bottom: 0;
    ul {
        margin: 0.4em;
        padding: 0;
        list-style-type: none;
        @include inline-list;
        li {
            padding-left: 0.5em;
            a {
                color: $dulled;
                text-decoration: none;
            }
            a:hover {
                text-decoration: underline;
            }
        }
    }

}
#block-menu-menu-bonus-menu {
    float: right;
}
#block-islandora_solr-simple {
    float: right;
}
#block-locale-language {
  padding-bottom: 0;
  padding-left: 10px;
  a.language-link.session-active {
    color: $selected-menu;
    text-decoration: underline;
  }
  li:after {
      color: $unselected-menu;
  }

}

// User menu should contain "manage pubs", "my account", and "logout".
// Set it to appear in User Second block (right, top) AFTER Search.
// And be visible only to logged in users.
#block-system-user-menu {
  margin-right: 10px;
}

// Main Menu contains only the CEC home link.
// Set it in User First block (right, left)
// Viewable to all users.

#block-system-main-menu {
  float: left;
  //padding-left: 150px;
  margin-bottom: 0;
  ul {
    @include horizontal-list-container;
    list-style-type: none;
    li {
      @include horizontal-list-item(1em, left);
      a {
        color: $dulled;
	
      }
    }
  }
}


#block-islandora_solr-simple{
  color: black;
  margin: 0;
  form {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: right;
  }
  
#edit-islandora-simple-search-query {
    width: 60%;
  }
  a {
    padding-left: 1em;
  }
}

#block-custom_solr_config-keyword_facets {
    vertical-align: middle;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 0.6 * $base-line-height;

    ul {
        li {
            border: 0 0 -3px 0;
            border-bottom-style: solid;
            display: inline-block;
            padding: 0;
            max-width: 16%;
        }
        a {
            color: $dark-grey;
            padding: 5px 17px 6px;//FIXME!!!
            letter-spacing: 0.1em;
            display: inline-block;

        }
        a:hover {
            text-decoration: none;
        }
        *.keyword-0{
            border-bottom-color: $climatechange;
            a:hover, a.active {
                background-color: $climatechange;
                color: #333;
            }
        }
        *.keyword-1{
            border-bottom-color: $pollutants;
            a:hover, a.active {
                background-color: $pollutants;
                color: #333;
            }
        }
        *.keyword-2{
            border-bottom-color: $ecosystems;
            a:hover, a.active {
                background-color: $ecosystems;
                color: #333;
            }
        }
        *.keyword-3{
            border-bottom-color: $economy;
            a:hover, a.active {
                background-color: $economy;
                color: #333;
            }
        }
        *.keyword-4{
            border-bottom-color: $enforcement;
            a:hover, a.active {
                background-color: $enforcement;
                color: #333;
            }
        }
        *.title{
            border: none;
            font-style: italic;
            max-width: 10%;
        }
    }
}

.adf {
    background-color: #F5F5F5;
    h2 {
        background-color: #ECECEC;
        margin-top: 8px;
        margin-bottom: 5px;
        padding: 5px 0 3px 5px;
        color: #3E97B5;
        border-top: solid 1px #3e97b5;
    }
    ul {
        list-style-type: none;
        li {
            a {
                color: black;
                font-weight: normal;
            }
            a:hover {
                color: #3e97b5;
            }
            padding: 5px 10px;;
            border-bottom: dotted 1px #3e97b5;
        }
    }

}

.user-columns-wrapper {
    background-color: #333;
    .user {
        background-color: inherit;
    }
}

.navigation.g-all-row {
    //background-color: #FFF;
    //padding-top: 15px;
}
.navigation-inner {
    margin-bottom: 0;
    //margin-top: -20px;
    text-align: center;
}

.navigation-inner-wrapper {
    //background-color: $dark-grey;
    //@include margin-trailer(1, $base-font-size);
}



//#block-islandora_solr-simple {
//    margin: 7px 0;
//}
#islandora-solr-simple-search-form {
    display: inline;
    margin: 0;
    padding: 0;
}


// Islandora Facets

.islandora-solr-facet-wrapper:first-child {
    h3 {
        margin-top: 0;
        border-top: none;
        padding-top: 0;
    }
}


#block-islandora_solr-basic_facets, 
#block-islandora_solr-current_query, 
#block-islandora_solr-sort, 
#block-custom_solr_config-series_links, 
#block-custom_solr_config-external_links {
    //@include box-shadow(#333 2px 2px 5px);
    //background-color: $background-grey;
    .block-title, .content { 
        padding: $base-line-height/4 $borderwidth; 
    }
    color: $text-color-light;
    .block-title {
        background-color: $light-grey;
        //outline: 1px solid $dark-grey;
        margin: 0 15px 0 0;
        color: $dark-grey;
        font-weight: bold;
        font-size: $font-size-lg;
        font-weight: 400;
    }
    h3 {
        margin: 0;
        font-size: $font-size-normal;
        line-height: 0.8 * $base-line-height;
        padding-bottom: 0.2 * $base-line-height;
        //color: #333;
        font-weight: 600;
        //<D-x>border-top: 1px solid #ccc;
        //margin-top: $font-size-normal/2;
        //padding-top: $font-size-normal/2;
        font-family: $text-font-family;
    }
    .islandora-solr-facet-wrapper:first-child {
        h3 {
            margin-top: 0;
            border-top: none;
            padding-top: 0;
        }
    }

    font-size: $font-size-normal;
    ul {
        margin-top: 0;
        margin-bottom: 0;
        //margin-left: $typographic-indent;
        padding: 0 0 0 1em;
        list-style-type: none;
    }
    li {
        //line-height: $font-size-normal * 1.5;

        line-height: 0.8 * $base-line-height;
        padding-bottom: 0.2 * $base-line-height;
        a {
        color: #333;
        }
        a:hover {
        color: $ecosystems;
        text-decoration: none;
        }
        //margin-bottom: 0.5 * $base-font-size;
    }
    a {
        font-weight: normal;
    }
    .item-list ul li {
        margin: 0;
        padding: 0;
    }
    .plusminus {
        display: none;
    }
    a.soft-limit {
        padding-left: 1em; // to match ul above
        font-style: italic;
        padding-bottom: 0.2 * $base-line-height;
    }
}

#block-custom_solr_config-series_links, 
#block-custom_solr_config-external_links {
    li {
        padding: 5px 0;
        border-bottom: 1px solid #ccc;
    }
}

#block-islandora_solr-current_query {
    h3 {
        margin: 0;
    }
}

#islandora-solr-result-count {
    float: right;
}

.islandora-solr-search-result {
    margin-bottom: $base-line-height;
    padding-top: $base-line-height - 2px;
    color: $text-color;
//    .type {
//        font-style: italic;
//        color: $text-color-light;
//        font-size: $font-size-md;
//    }
    .title {
        font-size: $font-size-h2;
        font-family: $header-font-family;
        font-weight: bold;
    }
    .subTitle {
        font-weight: bold;
        font-family: $header-font-family;
        line-height: 2/3 * $base-line-height;
    }
    .date, .author, .type, .filesize, .language, .filetype {
        display: inline-block;
        color: $text-color-light;
        font-size: $font-size-md;
    }
    .date:after {
        content: ' - ';
        color: $text-color-light;
        //display: inline;
    }
    .type:after {
        content: ' - ';
        color: $text-color-light;
    }
    .author {
        display: inline;
    }
    .author:after{
        white-space: pre;
        content: "\A";
    }

    .type-icon {
        margin: 0 $base-font-size -2px $base-font-size;
    }
}

.islandora-multilingual-sidebar, .islandora-solr-search-result {
    .languages {
        a {
            padding: 4px 10px;
            background-color: $ecosystems;
            color: white;
            font-decoration: none;
            font-weight: 300;
            //margin: 1px solid #333;
            @include transition-property(background-color);
            @include transition-duration(0.5s);
        }
        a:hover {
            background-color: #333;
            color: white;
            text-decoration: none;
        }

        //float: right;
        display: block;
    }
    ul li {
        margin-left: 0;
    }
    .collections {
        ul {
            margin: 0;
        }
    }

}



// ISLANDORA SERIES DISPLAY
.islandora-series-list-item {
    .collection-value.volume {
        font-size: $font-size-sm;
        color: gray;
    }
    .collection-value.title {
        font-size: $font-size-lg;
        color: black;
    }
    .collection-value.details {
        font-size: $font-size-md;
        font-style: italic;
    }
    .collection-value.date {
        font-size: $font-size-sm;
        color: gray;
    }
}

// BREADCRUMB OVERWRITE
nav.breadcrumb {
	display: none;
}
