/* Themed Fields */

.form-select,
.form-textarea,
.form-text,
.password,
.email {
  @include aether-form("standard");
}

#edit-islandora-simple-search-query.form-text {
    font-size: 12px;
    background-color: #777;
    background: #777;
    @include box-shadow(black 0 0 0);
    border-style: none;
    @include border-radius(0px);
    //height: 31px;
	color: black;

}


.form-select {
    padding-right: 18px;
}
